<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">Presented by:</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <a href="https://distek.com/">
          <img src="/assets/images/DISTek_Logo.png" alt="DISTek Integration, Inc." style="width:250px;">
        </a>
      </div>
      
      <div class="footer-col footer-col-2">
        <a href="https://3e-co.com/">
          <img src="assets/images/3E_logo_round.png" alt="3E Company" width="250px;">
        </a>
      </div>
      
      <div class="footer-col footer-col-3">
        <a href="https://sparkembedded.com">
          <img src="/assets/images/spark_embedded_logo_transparent.png" alt="Spark Embedded, LLC" style="width:250px;">
        </a>
      </div>
    </div>

  </div>

</footer>
